{% extends 'first_page_base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/first_page.css') }}">
{% endblock %}
{% block body %}
    <body style="color: aqua;background-repeat: no-repeat" background="../static/女孩夜空.jpg" >
    <audio autoplay loop>
        <source src="../static/错位时空.mp3" type="audio/mpeg">
        <embed height="50" width="200" src="../static/错位时空.mp3">
    </audio>
    <div id="login">
        <a href="#">欢迎来到我的website</a>
    </div>
</body>
{% endblock %}